﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<dl class="dl-horizontal">
    <ul>
        <li>
            @Html.ActionLink("Top 5 people with the highest work rate", "Highest")
        </li>
    </ul>


</dl>

